@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');



body{
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #30c632 100%);


}

main{
    flex-grow: 1;
}

.horayfecha{
    font-size: 2em;
    color: azure;
    
}

.containerFecha {
    background: rgba(128, 128, 128, 0.5);
    backdrop-filter: blur(10px); 
    border-radius: 50px;
  }